{% extends 'main.html' %}
{% load static %}

<a href="personnal_update.html">
  {% block content %}
    <body>
    <section id="main-content">
      <section class="wrapper">
        <div class="row mt">
           <div class="col-lg-12">
            <h4><i class="fa fa-angle-right"></i> Personnal form </h4>
            <div class="form-panel">
              <div class="form">
                <form class="cmxform form-horizontal style-form" action="{% url 'enr_perso' %}" method="POST" >
                    {% csrf_token %}
                  <div class="form-group ">
                    <label for="firstname" class="control-label col-lg-2">Fisrt name</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="firstname" type="text" name="firstname" required >

                    </div>


                  </div>
                  <div class="form-group ">
                    <label for="lastname" class="control-label col-lg-2">Last name</label>
                    <div class="col-lg-10">
                    <input class="form-control" id="lastname" type="text" name="lastname" required>
                    </div>
                  </div>
                  <div class="form-group ">
                    <label for="email" class="control-label col-lg-2">Email</label>
                    <div class="col-lg-10">
                       <input class="form-control" id="email" type="email" name="email" >
                    </div>
                  </div>
                  <div class="form-group ">
                    <label for="password" class="control-label col-lg-2">Password</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="password" type="password" name="password" >
                    </div>
                  </div>

                  </div>

                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                      <button class="btn btn-theme" type="submit">Save</button>
                      <button class="btn btn-theme04" type="button">Cancel</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- /form-panel -->
          </div>
          <!-- /col-lg-12 -->
        </div>

      </section>
   </section>
    </body>
  {% endblock %}





</a>