{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block content %}
 <section id="main-content">
      <section class="wrapper">

           <div class="row mt">
           <div class="col-lg-12">
              <div>
              <h1  style="color: blue" > PLEASE FILL IN THE FUND INFORMATION </h1>
              </div>
              <h4><i class="fa fa-angle-right"></i> Fund form </h4>
               <div class="form-panel p-5">

                   <form action="{% url 'create_fund' %}" method="post">
                       {% csrf_token %}

                      {% crispy form %}
                   </form>

            </div>
            <!-- /form-panel -->
          </div>


           </div>
           </div>
      </section>
    </section>

{% endblock %}